.sidebar {
  color: white;
  font-size: 30px;
  float: left;
  width: 300px;
  border: 10px solid green;
  padding: 5px;
  margin: 20px;
  background-color: blue;
}

.cardi {
  float: right;
}

.bright {
  color: orange;
  text-size: 100px;
}
